

<div class="text-center m-5">
<h1 class="text-center m-5">
    Estamos en la Página de HOME
</h1>

<picture>
    <img src="https://www.clarin.com/img/2024/02/22/9bPxPaeoy_600x290__1.jpg" alt="Messi jugando por las Garzas">
    <figcaption>
        Messi en su debut 2024
    </figcaption>
</picture>

</div>